<script>
	let className = ''

	export { className as class }
</script>

<button class="border rounded-full p-3 w-32 h-11 {className}">
	<span class="block font-['Inter'] font-regular text-[15px] leading-4">
		<slot />
	</span>
</button>
