<script lang="ts">
	import type { Action } from 'svelte/action'
	import { DateInput } from 'date-picker-svelte'
	import Calendar from './Icons/Calendar.svelte'

	export let value: Date | null = null
	export let label: string
	export let id: string

	const styleDateInput: Action = (node) => {
		const pickerInput = node.querySelector('.date-time-field input')

		if (pickerInput instanceof HTMLInputElement) {
			pickerInput.classList.add(
				'h-12',
				'w-full',
				'mt-px',
				'!pl-10',
				'!pr-3',
				'!pb-3',
				'!pt-4',
				'border',
				'rounded',
				'!border-light-gray',
				'!text-dark-gray',
				'font-extralight'
			)
			pickerInput.id = id
		}
	}
</script>

<div class="relative" use:styleDateInput>
	<label
		for={id}
		class="flex flex-col font-normal tracking-tight leading-tighter"
		>{label}</label
	>
	<DateInput bind:value format="dd/MM/yyyy" closeOnSelection placeholder="" />
	<div class="icon p-2">
		<Calendar />
	</div>
</div>

<style>
	.icon {
		position: absolute;
		top: 1.375rem;
		left: 0.125rem;
	}
</style>
