<script lang="ts">
	import Building from './Icons/Building.svelte'
	import House from './Icons/House.svelte'
	import RadioInput from './RadioInput.svelte'
	export let propertyType: string
</script>

<div role="radiogroup" class="flex gap-x-5 justify-between">
	<RadioInput
		bind:group={propertyType}
		value="single-family"
		label="Single-Family"
	>
		<House slot="icon" let:active {active} />
	</RadioInput>
	<RadioInput
		bind:group={propertyType}
		value="multi-family"
		label="Multi-Family"
	>
		<Building slot="icon" let:active {active} />
	</RadioInput>
	<RadioInput bind:group={propertyType} value="town-home" label="Townhome">
		<House slot="icon" let:active {active} />
	</RadioInput>
	<RadioInput bind:group={propertyType} value="condo" label="Condo">
		<Building slot="icon" let:active {active} />
	</RadioInput>
</div>
