<script lang="ts">
	export let group: string
	export let value: string
	export let label: string
	let active = false

	$: active = group === value
	$: console.log({ group })
</script>

<label
	class="flex flex-1 gap-x-3 py-5 px-6 border rounded flex justify-center items-center cursor-pointer"
	class:border-light-gray={!active}
	class:bg-white={!active}
	class:text-dark-gray={!active}
	class:bg-light-violet={active}
	class:border-dark-violet={active}
	class:text-dark-violet={active}
	for="rd-{value}"
>
	<slot name="icon" {active} />
	<span class="pt-2">{label}</span>
	<input class="hidden" type="radio" bind:group id="rd-{value}" {value} />
</label>
