<script lang="ts">
	import Select from 'svelte-select'
	import Bed from './Icons/Bed.svelte'
	import ChevronDown from './Icons/ChevronDown.svelte'

	let className: string
	export let value: Record<'value' | 'label', string>
	export let items: Array<Record<'value' | 'label', string>>
	export let id: string
	export let label: string

	export { className as class }
</script>

<div class="flex flex-col {className}">
	<label class="font-normal tracking-tight leading-tighter" for={id}
		>{label}</label
	>
	<Select
		class="h-12 !w-full mt-px !p-0 border rounded !border-light-gray !text-dark-gray !font-extralight placeholder:text-light-gray"
		placeholder="Select"
		{items}
		bind:value
		showChevron
		clearable={false}
		{id}
	>
		<svelte:fragment slot="prepend">
			<slot name="icon" />
		</svelte:fragment>
		<svelte:fragment slot="chevron-icon">
			<slot name="caret">
				<ChevronDown />
			</slot>
		</svelte:fragment>
	</Select>
</div>
