<script>
	let className = ''
	export let id = '',
		label = ''
	export let placeholder = ''

	export { className as class }
	console.log($$slots)
</script>

<div class="flex flex-col {className} relative">
	<label class="font-normal tracking-tight leading-tighter" for={id}
		>{label}</label
	>
	<div class="prefix p-3">
		<slot class="prefix" name="prefix" />
	</div>
	<div class="suffix p-3">
		<slot class="suffix" name="suffix" />
	</div>
	<input
		class="h-12 w-full mt-px pb-3 pt-4 border rounded border-light-gray text-dark-gray font-extralight placeholder:text-light-gray"
		class:px-3={!$$slots.prefix || !$$slots.suffix}
		class:pl-9={$$slots.prefix}
		class:pr-12={$$slots.suffix}
		{placeholder}
		{id}
		name={id}
		type="text"
	/>
</div>

<style>
	.prefix {
		position: absolute;
		top: 1.225rem;
	}
	.suffix {
		position: absolute;
		top: 1.375rem;
		right: 0.25rem;
	}
</style>
