<script lang="ts">
	import { createQuery } from '@tanstack/svelte-query'
	import { getOrder } from '$lib/data/orders'
	import type { Order } from '$lib/data/orders'
	const orderId = 1
	const order = createQuery<Order, Error>({
		queryKey: ['order', orderId],
		queryFn: () => getOrder(orderId),
	})
</script>

<div class="p-4">
	{#if $order.status === 'loading'}
		<p>Loading...</p>
	{:else if $order.status === 'error'}
		<p>Error: {$order.error.message}</p>
	{:else}
		<pre>
      {JSON.stringify($order.data, null, 2)}
    </pre>
	{/if}
</div>
