<svg
	width="24"
	height="24"
	viewBox="0 0 24 24"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<g clip-path="url(#clip0_53_36)">
		<path
			d="M21.75 13.125H3.74999V4.68699C3.74999 4.68499 3.74999 4.68299 3.74999 4.67999C3.74999 4.01399 4.02099 3.41199 4.45799 2.97599L4.47699 2.95699C4.91499 2.51899 5.52099 2.24899 6.18899 2.24899C6.56499 2.24899 6.92099 2.33499 7.23799 2.48699L7.22299 2.48099C6.88999 3.02599 6.69299 3.68599 6.69299 4.39199C6.69299 5.41399 7.10699 6.33999 7.77599 7.00999L8.28899 7.52299L7.34399 8.46799L8.40499 9.52899L15.53 2.40399L14.469 1.34299L13.524 2.28799L13.011 1.77499C12.341 1.10599 11.415 0.692993 10.393 0.692993C9.60199 0.692993 8.86999 0.940993 8.26799 1.36199L8.27999 1.35399C7.68699 0.973993 6.96299 0.748993 6.18699 0.748993C5.10499 0.748993 4.12499 1.18799 3.41599 1.89699L3.39699 1.91599C2.68799 2.62099 2.24899 3.59799 2.24899 4.67599C2.24899 4.67999 2.24899 4.68299 2.24899 4.68699V4.68599V13.124H0.748993V14.624H2.24899V16.063C2.24899 16.19 2.26999 16.312 2.30899 16.426L2.30699 16.418L3.70199 20.604C3.85499 21.055 4.27399 21.373 4.76799 21.373H4.76899H5.37399L4.82699 23.248H6.38899L6.93599 21.373H16.69L17.253 23.248H18.819L18.256 21.373H19.228H19.229C19.723 21.373 20.142 21.054 20.293 20.612L20.295 20.604L21.69 16.418C21.727 16.312 21.748 16.19 21.748 16.063V14.624H23.248V13.124L21.75 13.125ZM8.83699 2.83699C9.23599 2.43899 9.78599 2.19299 10.394 2.19299C11.002 2.19299 11.552 2.43899 11.951 2.83699L12.464 3.34999L9.34999 6.46399L8.83699 5.95099C8.43899 5.55199 8.19299 5.00199 8.19299 4.39399C8.19299 3.78599 8.43899 3.23599 8.83699 2.83699ZM20.25 16.003L18.959 19.875H5.03999L3.74899 16.003V14.625H20.249L20.25 16.003Z"
			fill="#474374"
		/>
	</g>
	<defs>
		<clipPath id="clip0_53_36">
			<rect width="24" height="24" fill="white" />
		</clipPath>
	</defs>
</svg>
