<script lang="ts">
	export let active = false

	$: fill = active ? '#3F25C8' : '#35344C'
</script>

<svg
	width="34"
	height="32"
	viewBox="0 0 34 32"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<path
		d="M28.8532 29V1H5.26045V29H1.67024V31H32.4434V29H28.8532ZM26.8017 29H18.0826V25H16.0311V29H7.312V3H26.8017V29Z"
		{fill}
	/>
	<path d="M10.9022 19H12.9538V21H10.9022V19Z" {fill} />
	<path d="M16.0311 19H18.0826V21H16.0311V19Z" {fill} />
	<path d="M21.1599 19H23.2115V21H21.1599V19Z" {fill} />
	<path d="M10.9022 13H12.9538V15H10.9022V13Z" {fill} />
	<path d="M16.0311 13H18.0826V15H16.0311V13Z" {fill} />
	<path d="M21.1599 13H23.2115V15H21.1599V13Z" {fill} />
	<path d="M10.9022 7H12.9538V9H10.9022V7Z" {fill} />
	<path d="M16.0311 7H18.0826V9H16.0311V7Z" {fill} />
	<path d="M21.1599 7H23.2115V9H21.1599V7Z" {fill} />
</svg>
