<script lang="ts">
	export let active = false
	let fill: string

	$: fill = active ? '#3F25C8' : '#35344C'
</script>

<svg
	width="34"
	height="32"
	viewBox="0 0 34 32"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<path
		d="M27.8 25H31V16H19V25H27.8ZM22.2 17.8165H27.8V23.1835H22.2V17.8165Z"
		{fill}
	/>
	<path
		d="M30.7299 13.528L17.998 2.10931C17.6109 1.76131 17.0926 1.54797 16.5222 1.54797C15.9205 1.54797 15.3747 1.78531 14.9808 2.17064L2.6702 14.172V31H9.85061V21H13.9537V31H31.3918V14.1226L30.7299 13.528ZM29.3403 29H16.0052V19H7.79906V29H4.72174V15L16.4306 3.58531C16.4539 3.56264 16.4853 3.54931 16.5209 3.54931C16.5551 3.54931 16.5852 3.56131 16.6084 3.58264L29.3403 15.0013V29Z"
		{fill}
	/>
</svg>
