<svg
	width="24"
	height="24"
	viewBox="0 0 24 24"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<g clip-path="url(#clip0_53_56)">
		<path
			d="M21.682 14.826L18.666 12.852L19.827 10.723C20.096 10.223 20.254 9.62996 20.255 8.99896V5.62396C20.255 5.61996 20.255 5.61596 20.255 5.61196C20.255 2.92096 18.074 0.73996 15.383 0.73996C14.102 0.73996 12.937 1.23396 12.067 2.04196L12.07 2.03896L13.089 3.13896C13.689 2.58296 14.494 2.24196 15.38 2.24196C17.244 2.24196 18.755 3.75296 18.755 5.61696C18.755 5.61896 18.755 5.62196 18.755 5.62396V8.99896C18.755 9.36596 18.664 9.71196 18.505 10.017L18.511 10.005L16.687 13.349L20.862 16.081C21.404 16.439 21.756 17.046 21.756 17.735C21.756 17.737 21.756 17.74 21.756 17.742V20.25H18.381V21.75H23.256V17.742C23.256 17.739 23.256 17.736 23.256 17.733C23.256 16.522 22.636 15.456 21.696 14.835L21.683 14.827L21.682 14.826Z"
			fill="#474374"
		/>
		<path
			d="M14.932 16.326L11.916 14.352L13.077 12.223C13.346 11.723 13.504 11.13 13.505 10.499V7.12401C13.503 4.43001 11.321 2.24701 8.628 2.24301C5.941 2.24301 3.755 4.43301 3.755 7.12401V10.499C3.755 10.504 3.755 10.51 3.755 10.516C3.755 11.14 3.911 11.728 4.187 12.242L4.177 12.222L5.345 14.362L2.346 16.324C1.393 16.953 0.773 18.019 0.773 19.229C0.773 19.231 0.773 19.233 0.773 19.235L0.75 23.247H16.504V19.239C16.504 19.236 16.504 19.233 16.504 19.23C16.504 18.019 15.884 16.953 14.944 16.332L14.931 16.324L14.932 16.326ZM15.004 21.75H2.258L2.273 19.242C2.273 19.24 2.273 19.238 2.273 19.235C2.273 18.546 2.625 17.94 3.16 17.586L3.167 17.581L7.324 14.861L5.493 11.505C5.342 11.215 5.254 10.872 5.254 10.508C5.254 10.505 5.254 10.502 5.254 10.499V7.12401C5.254 5.26001 6.765 3.74901 8.629 3.74901C10.493 3.74901 12.004 5.26001 12.004 7.12401V10.499C12.004 10.866 11.913 11.212 11.754 11.517L11.76 11.505L9.936 14.849L14.111 17.581C14.653 17.939 15.005 18.546 15.005 19.235C15.005 19.237 15.005 19.24 15.005 19.242L15.004 21.75Z"
			fill="#474374"
		/>
	</g>
	<defs>
		<clipPath id="clip0_53_56">
			<rect width="24" height="24" fill="white" />
		</clipPath>
	</defs>
</svg>
