@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
	color: #35344c;
}

.picker {
	bottom: 3rem;
	margin-bottom: 0.25rem;
	margin-left: 0.25rem;
}

.date-time-field input {
	height: 3rem;
}
