<div class="w-1/4 p-6 flex flex-col items-center">
	<a
		class="p-3 mt-7 text-center w-full border rounded shadow-md"
		href="/property-details"
	>
		Property Details
	</a>
	<a
		class="p-3 mt-7 text-center w-full border rounded shadow-md"
		href="/page-two"
	>
		Page Two</a
	>
</div>
