<script lang="ts">
	import Button from '$lib/components/Button.svelte'
	import Card from '$lib/components/Card.svelte'
	import RadioGroup from '$lib/components/RadioGroup.svelte'
	import TextInput from '$lib/components/TextInput.svelte'
	import img from '$lib/assets/img.png'
	import DateInput from '$lib/components/DateInput.svelte'
	import Dollar from '$lib/components/Icons/Dollar.svelte'
	import Select from '$lib/components/SelectInput.svelte'
	import Bed from '$lib/components/Icons/Bed.svelte'
	import Bath from '$lib/components/Icons/Bath.svelte'
	import Vacancy from '$lib/components/Icons/Vacancy.svelte'

	let propertyType = 'multi-family'
	let date: Date | null = null

	let numberedItems: Array<Record<'value' | 'label', string>> = [
		{ value: '1', label: 'One' },
		{ value: '2', label: 'Two' },
		{ value: '3', label: 'Three' },
		{ value: '4+', label: 'Four or more' },
	]
	let vacancyItems: Array<Record<'value' | 'label', string>> = [
		{ value: '10%', label: '10%' },
		{ value: '20%', label: '20%' },
		{ value: '30%', label: '30%' },
		{ value: '40%', label: '40%' },
		{ value: '50%', label: '50%' },
		{ value: '60%+', label: '50%+' },
	]
	let bedsValue: Record<'value' | 'label', string> = {
		value: '1',
		label: 'One',
	}
	let bathsValue: Record<'value' | 'label', string> = {
		value: '2',
		label: 'Two',
	}
	let vacancyValue: Record<'value' | 'label', string> = {
		value: '30%',
		label: '30%',
	}
	$: console.log(bedsValue)
</script>

<main
	class="h-full w-full md:w-11/12 lg:w-[845px] flex flex-col gap-y-8 pt-17.5"
>
	<div class="flex h-82">
		<div class="w-1/2 h-full">
			<h1 class="text-4xl font-medium mb-4 tracking-tight">Property details</h1>
			<p class="text-lg font-extralight tracking-tight mb-8">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam.
			</p>
			<div class="flex flex-col gap-4">
				<TextInput id="property-name" label="Property Name" />
				<TextInput id="address" label="Address" />
			</div>
		</div>
		<div class="w-1/2 h-full flex justify-end items-start">
			<img src={img} alt="" />
		</div>
	</div>
	<div class="flex h-24">
		<div class="w-full h-full">
			<h2 class="leading-tighter tracking-tight mb-1">Property Type</h2>
			<RadioGroup bind:propertyType />
		</div>
	</div>
	<div class="flex flex-col h-60">
		<h2 class="leading-tighter tracking-tight mb-1">Unit Info</h2>
		<Card class="flex flex-col gap-6 bg-white">
			<div class="flex gap-x-6">
				<TextInput
					class="flex-1"
					id="unit-name"
					label="Unit name"
					placeholder="Name and/or number"
				/>
				<TextInput class="flex-1" id="rent" label="Rent">
					<Dollar slot="prefix" />
					<span slot="suffix">/mo</span>
				</TextInput>
				<TextInput class="flex-1" id="deposit" label="Deposit">
					<Dollar slot="prefix" />
					<span slot="suffix">/mo</span>
				</TextInput>
				<TextInput
					class="flex-1"
					id="lease-length"
					label="Lease Length (months)"
				/>
			</div>

			<div class="flex gap-x-6">
				<Select
					id="beds"
					bind:value={bedsValue}
					class="flex-1"
					label="Beds"
					items={numberedItems}
				>
					<div class="px-3 pt-2 pb-4" slot="icon">
						<Bed />
					</div>
				</Select>
				<Select
					id="baths"
					bind:value={bathsValue}
					class="flex-1"
					label="Baths"
					items={numberedItems}
				>
					<div class="px-3 pt-3 pb-3" slot="icon">
						<Bath />
					</div>
				</Select>
				<TextInput class="flex-1" id="sq-ft" label="Sq.Ft" />
				<DateInput id="available-on" label="Available On" bind:value={date} />
				<Select
					id="vacancy"
					bind:value={vacancyValue}
					class="flex-1"
					label="Vacancy"
					items={vacancyItems}
				>
					<div class="px-3 pt-3 pb-3" slot="icon">
						<Vacancy />
					</div>
				</Select>
			</div>
		</Card>
	</div>
	<div class="flex h-11 mt-8">
		<div class="flex justify-between w-full h-full">
			<Button class="border-dark-gray">BACK</Button>
			<Button class="bg-violet text-white">CONTINUE</Button>
		</div>
	</div>
</main>
